<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/dk-problems" class="header item">
      <%= image_tag "dk_logo.svg" %>
    </a>
    <a href="/dk-problems" class="item">Home</a>
  </div>
</div>
