<!doctype html>
<html>
  <head>
    <%= partial 'layouts/head_info' %>
  </head>
  <body>
    <%= partial 'layouts/header' %>
    <main class="ui main text container">
      <%= yield %>
    </main>
    <%= partial 'layouts/footer' %>
  </body>
</html>
