<div class="ui doubling four column grid">
  <% page_articles.each_with_index do |article, i| %>
    <div class="o-problem ta-c column">
      <%= image_tag "#{article.data.type}/problems/#{article.data.problem}.svg", class: "o-problem-image", "data-problem-image": article.data.problem, "data-modal-title": "#{article.title}（難易度：#{article.data.difficulty}）", alt: article.title %>
      <p><%= link_to "#{article.title}の解答", article %></p>
    </div>
  <% end %>
</div>

<script>
$('[data-problem-image]').click(function(){
  $('.ui.modal').modal('show');
  $('[data-mtitle]').text($('[data-problem-image]').data('modal-title'))
  $('[data-mimage]').attr("src", '/dk-problems/images/mushikui/problems/' + $('[data-problem-image]').data('problem-image') + '.svg')
});
</script>

<div class="ui modal">
  <div class="header" data-mtitle>Header</div>
  <div class="ta-c mt20 pb40">
    <img src=""  data-mimage="" style="height: 300px;">
  </div>
</div>

