<div class="ui doubling four column grid">
  <% page_articles.each_with_index do |article, i| %>
    <div class="o-problem ta-c column">
      <%= image_tag "#{article.data.type}/problems/#{article.data.problem}.svg", class: "o-problem-image", "data-problem-image": article.data.problem, "data-modal-title": "#{article.title}（難易度：#{article.data.difficulty}）", alt: article.title, "data-link": article %>
      <p><%= link_to "#{article.title}の解答", article %></p>
    </div>
  <% end %>
</div>

<script>
$('[data-problem-image]').click(function(){
  $('.ui.modal').modal('show');
  $('[data-mtitle]').text($(this).data('modal-title'));
  $('[data-mimage]').attr('src', '/dk-problems/images/mushikui/problems/' + $(this).data('problem-image') + '.svg');
  $('[data-href]').data('href', $(this).data('link'));
  $('[data-url]').data('href', $(this).data('link'));
});
</script>

<div class="ui modal">
  <div class="header" ><span data-mtitle></span>
    <div class="fb-share-button" data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">シェア</a></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="yamadagenki0607" data-url="" data-related="drken1215" data-hashtags="dk-problems">Tweet</a>
  </div>
  <div class="ta-c mt20 pb40">
    <img src=""  data-mimage="" style="height: 300px; max-width: 100%;">
  </div>
</div>
